services:
  nginx:
    build:
      context: ./requirements/nginx
      dockerfile: Dockerfile
    extra_hosts:
      - "cochatel.42.fr:127.0.0.1"
    networks:
      - inceptionnetwork
    ports:
      - "443:443"
    volumes:
      - wordpress_data:/var/www/wordpress
    depends_on:        			
      - wordpress
    restart: on-failure 
  wordpress:
    build:
      context: ./requirements/wordpress
      dockerfile: Dockerfile
    networks:
      - inceptionnetwork
    expose:
      - "9000"
    env_file:
      - .env
    depends_on:
      - mariadb
    volumes:
      - wordpress_data:/var/www/wordpress
    restart: on-failure 
  mariadb:
    build:
      context: ./requirements/mariadb
      dockerfile: Dockerfile
    networks:
      - inceptionnetwork
    expose:
      - "3306"
    env_file:
      - .env
    volumes:
      - mariadb_data:/var/lib/mysql
    restart: unless-stopped

volumes:
  wordpress_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/coco/data/wordpress
  mariadb_data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/coco/data/mariadb

networks:
  inceptionnetwork:
    driver: bridge
